// 颜色定义规范
$color-background: #204F77;
$color-background-nav: #000;
$color-theme: #01334E;
$color-text-normal: #f5f5f5;
$color-text-active: #29B5E8;

// 布局尺寸
$side-bar-width: 340px;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
$font-size-large-2x: 22px;
$font-size-large-3x: 24px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  sideBarWidth: $side-bar-width;
  colorBackground:$color-background
}
